<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>first_name</key>
		<string>1F</string>
		<key>middel_name</key>
		<string>1M</string>
		<key>last_name</key>
		<string>1L</string>
	</dict>
	<dict>
		<key>first_name</key>
		<string>2F</string>
		<key>middel_name</key>
		<string>2M</string>
		<key>last_name</key>
		<string>2L</string>
	</dict>
	<dict>
		<key>first_name</key>
		<string>3F</string>
		<key>middel_name</key>
		<string>3M</string>
		<key>last_name</key>
		<string>3L</string>
	</dict>
	<dict>
		<key>first_name</key>
		<string>4F</string>
		<key>middel_name</key>
		<string>4M</string>
		<key>last_name</key>
		<string>4L</string>
	</dict>
	<dict>
		<key>first_name</key>
		<string>5F</string>
		<key>middel_name</key>
		<string>5M</string>
		<key>last_name</key>
		<string>5L</string>
	</dict>
	<dict>
		<key>first_name</key>
		<string>6F</string>
		<key>middel_name</key>
		<string>6M</string>
		<key>last_name</key>
		<string>6L</string>
	</dict>
	<dict>
		<key>first_name</key>
		<string>7F</string>
		<key>middel_name</key>
		<string>7M</string>
		<key>last_name</key>
		<string>7L</string>
	</dict>
</array>
</plist>
